@import 'styles/variables.scss';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 5px;
  margin-bottom: 15px;
  gap: 10px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid $gray;
    padding-bottom: 5px;
  }

  &__text {
    color: $black;
    font-weight: bold;
    font-size: 1rem;
  }
}

.item_complete {
  p, span {
    color: $dark-gray !important;
    text-decoration: line-through !important;
  }
}